<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="/css/fonts/fonts.css" />
    <link rel='stylesheet' href='/style.css'>
    </head

    <body>
      <div class='page'>

      <header>
        <div class='h1'>
        <h1>Random Calculator</h1>
      </dic>
        <%= yield %>
        <div class='container'>

        <nav>
          <ul>
            <li> <a href='/basic_calc'>Basic Calculator</a></li>
            <li> <a href='/bmi_calc'>BMI Calculator</a></li>
            <li> <a href='/mortgage_calc'>Mortgage Calculator</a></li>
            <li> <a href='/mileage_calc'>Mileage Calculator</a></li>
          </ul>
        </nav>
    </div>

      </header>



    </div>
      <footer>
        <p><a class="footer" href="http://fuckyeahwhimsy.tumblr.com/">&copy; Fuck whimsy</a></p>
      </footer>
    </body>
</html>